*{
    color: white;
}
#LogoTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
}/* para mi titulo */
#Bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; *//* para que mi barra baje cuando haga scroll hacia abajo o arriba. */
}
#ltbn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
main {
    background-image: url(../img/FondosLogos/FondoPantalla.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 160px;
}
body{
    background-color: black;
}
article {
    color: white;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    width: 300px;
    min-height: 390px;
    border-radius: 8px;
    margin: 1cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.3s ease;/* animacion para mi article */
}
article:hover{
    transform: scale(1.05);/* animacion al pasar mi mouse sobre mis article */
}
article button{
    width: 150px;
    border-radius: 50px;
    background: orange;
    color: black;
}
nav {
    width: fit-content;
    background: #222;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    margin-top: 10px;
}
nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    text-decoration: none;/* con esto quito ese subrayado de los <a> */
    padding: 0 23px;
    transition: 0.3s;
}
nav a:hover{
    color: orange;/* al pasar por los <a> cambia de color a orange*/
}



