#LogoTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
}/* para mi titulo */
#Bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-image: url(../img/rejas.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
main {
    background-image: url(../img/FondosLogos/FondoBlur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
