#LogoTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
}/* para mi titulo */
#Bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background-image: url(../img/FondosLogos/FondoBlur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
article{
    color: white;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    width: 300px;
    height: 390px;
    border-radius: 8px;
}

